<h2>Extrato de Transferências</h2>
<table class="darkTable">
  <thead *ngIf="toTransfers?.length > 0;">
    <tr>
      <th class="tg-c3ow">Data</th>
      <th class="tg-0lax">Valor</th>
      <th class="tg-0lax">Destino</th>
    </tr>
  </thead>
  <tbody *ngIf="toTransfers?.length > 0;">
    <tr *ngFor="let transfer of toTransfers">
      <td class="tg-0lax">
        {{ transfer?.date | date: "shortDate":"":"pt-BR" }}
      </td>
      <td class="tg-0lax">
        {{ transfer?.value | currency: "BRL":"symbol":"0.2":"pt" }}
      </td>
      <td class="tg-0lax">{{ transfer?.destiny }}</td>
    </tr>
  </tbody>
</table>
<ng-template #listEmpty>
  <p>Nenhuma transação realizada.</p>
</ng-template>
